@model Forum.WEB.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
<<<<<<< HEAD
        @if (!string.IsNullOrEmpty(ViewBag.Message))
=======
        @if (string.IsNullOrEmpty(ViewBag.Message))
>>>>>>> 6816f1b25ded1ebec79390ee8b8009489dd9b435
        {
            <h4>@ViewBag.Message</h4>
            <hr />
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
<<<<<<< HEAD
                @Html.PasswordFor(model => model.OldPassword,  new { @class = "form-control" } )
=======
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
>>>>>>> 6816f1b25ded1ebec79390ee8b8009489dd9b435
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
<<<<<<< HEAD
                @Html.PasswordFor(model => model.FirstPassword,  new { @class = "form-control" } )
=======
                @Html.EditorFor(model => model.FirstPassword, new { htmlAttributes = new { @class = "form-control" } })
>>>>>>> 6816f1b25ded1ebec79390ee8b8009489dd9b435
                @Html.ValidationMessageFor(model => model.FirstPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
<<<<<<< HEAD
                @Html.PasswordFor(model => model.SecondPassword, new { @class = "form-control" } )
=======
                @Html.EditorFor(model => model.SecondPassword, new { htmlAttributes = new { @class = "form-control" } })
>>>>>>> 6816f1b25ded1ebec79390ee8b8009489dd9b435
                @Html.ValidationMessageFor(model => model.SecondPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
