@using Forum.Core.DAL.Entities.Content.Categories
@using Microsoft.AspNet.Identity;
@using Forum.WEB.Models
@using Forum.WEB.Helpers
@model PagingViewModel<Category>
@{
    var currentUserId = User.Identity.GetUserId<int>();
    bool isAdmin = User.IsInRole("admin");
}
@foreach (Category category in Model.Items)
{

    bool isEditor = category.Moderator != null && category.Moderator.Id == currentUserId || isAdmin;
    <div class="panel panel-default category">
        <div class="panel-heading clearfix">
            <h3 class="panel-title">@category.Name</h3>

            <div class="btn-group right clearfix">

                @if (isAdmin)
                {
                    <a class="btn btn-default left" href=@Url.Action("Update","Category", new { Id = category.Id })>Редактировать</a>
                }
                @if (isAdmin || category.Moderator != null && category.Moderator.Id == User.Identity.GetUserId<int>())
                {
                    <a class="btn btn-default right" href=@Url.Action("Update", "SubCategory", new { categoryId = category.Id })>Добавить подкатегорию</a>
                }
            </div>
        </div>
        <div class="panel-body panel-forum">
            @if (category.SubCategories.Count() > 0)
            {
                <table class="table table-bordered table-striped table-forum">
                    <thead>
                        <tr>
                            <td>Форум</td>
                            <td class="thems">Темы</td>
                            <td class="reply">Ответы</td>
                            @if (isEditor)
                            {
                                <td>Редактирование</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SubCategory sub in category.SubCategories)
                    {
                            <tr>
                                <td class="description-colum">
                                    <div>
                                        <a href="@Url.Action("index","subcategory", new { Id = sub.Id })">
                                            <h4>
                                                @sub.Name
                                            </h4>
                                        </a>
                                        <h5>@sub.Description</h5>
                                    </div>
                                </td>
                                <td class="thems">@sub.Topics.Count</td>
                                <td class="reply">@sub.Topics.Sum(t => t.Comments.Count)</td>
                                @if (isEditor)
                                {
                                    <td><a href=@Url.Action("Update","SubCategory", new { Id = sub.Id })>Редактировать</a></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="empty-message">Пусто.</p>
            }
        </div>
    </div>
}

@Html.PageLinks(Model.PageInfo, x => Url.Action("Index", "Category", new { page = x }))