<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap-combined.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/treeview.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/forum.css" rel="stylesheet" />

</head>
<body>
    @Html.Partial("FixedBottomAdminPanel")
    <div class="container-fluid main">
        <nav>
            <div class="container-fluid block nav-forum">
                <div class="container-fluid navbar-cont">
                    <a href=@Url.Action("Index","Category") title="Главная страница">
                        <div class="navbar-logo">

                        </div>
                    </a>
                    <div class="user-info right clearfix">
                        <ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <p><i class="glyphicon glyphicon-user"></i>@User.Identity.Name</p>
                                </li>
                                <li>
                                    <p></p>
                                    <a href=@Url.Action("Settings", "Account")><i class="glyphicon glyphicon-bell"></i>Настройки Аккаунта</a>
                                </li>
                                <li>
                                    <a href=@Url.Action("Logout", "Account")><i class="glyphicon glyphicon-log-out"></i>Выйти</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href=@Url.Action("Login", "Account")><i class="glyphicon glyphicon-log-in"></i>Войти</a>
                                </li>
                                <li>
                                    <a href=@Url.Action("Registration", "Account")><i class="glyphicon glyphicon-registration-mark"></i>Зарегистрироваться</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="container-fluid nav-menu">
                </div>
            </div>
        </nav>
        <content>
            <div class="container-fluid block content">
                @Html.Partial("treeView")
                <div class="content-body right clearfix">@RenderBody()</div>
            </div>
        </content>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/treeview.js"></script>
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <script src="~/scripts/forum/scripts.js"></script>

</body>
</html>
